div.mainMenuBar {

    background-color: rgb(19, 224, 139);
    height: 100px;
}

ul {

    background-color:greenyellow;
    
}

li {
    float: center;
    border-right:10x solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.homebutton {
    background-color: #4CAF50;
}


